body{
    padding: 10px 100px 10px 100px;
    border: 50px solid gray;
    height: 500vh;             
    box-sizing: border-box;   
    margin: 0;                 
    background-color: black;
}
span{
    color:white;
}