#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

#header .contact{
    display: flex;
    align-items: center;
    gap: 12px;
}
#navbar{
    background-color: white;
    padding: 24px 40px 24px 40px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}

#navbar .logo img{
    height: 70px;
}

#navbar .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#navbar .login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}